doctype=html
html
    head
        title Hello world!
        link(rel="stylesheet", href="index.css")
    body
        block form
        //- h2 Word: #{word}

        if status == "success"
            block weblio

