extends layouts/form.pug

block form
    .header_wrapper
        .header_search
            form(action="/" method="post")
                input(type="text" name="word")#search-text
                <input type="submit" value="&#xf1ab;" class="fa-solid fa-language fa-2x" id="search-button">

block weblio
    .wrapper
        h1.title weblio
        .content
            h2 Meanings
            p #{weblio['meanings']}
        .content
            h2 詞
            p #{weblio['terms']}
        .content
            h2 Sentences
            each v in weblio['sentences']
                p #{v}

