extends layouts/form.pug

block form
    .searchbar
        form(action="/", method="post" id="search")
            input(type="text" name="word")
        button(type="submit", form="search")

block weblio
    .wrapper
        h1.title weblio
        .content
            h2 Meanings
            p #{weblio['meanings']}
        .content
            h2 詞
            p #{weblio['terms']}
        .content
            h2 Sentences
            each v in weblio['sentences']
                p #{v}

