//- include layouts/form.pug
doctype=html
html
    head
        title Hello world!
        link(rel="stylesheet", href="index.css")
    body
        h1 welcome!
        block _form
        h2 Word: #{word}
