:root{
    --accent-color: #ff80bf
}
html{
    font-size: 100%;
}
body{
    background-color: #1c1e1e;
    color: aliceblue;
    margin: 0;
}

.header_wrapper{
    width: 100%;
    background-color: #161616;
    margin-bottom: 2rem;
    padding: 1rem 0 1rem 0;
}
.header_search{
    height: 3rem;
    width: 25rem;
    margin: auto;

}
.header_search > form{
    margin: 0;
    padding: 0;
    background-color: #333333;
    height: 100%;
    padding: 0 1rem 0 1rem;
    border-radius: 0.2rem;
}
.header_search input{
    background: none;
    height: 100%;
    outline: none;
    border: 0;
}
#search-text{
    color: white;
    font-size: 1rem;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 0.05rem;
    width: 90%;
}
#search-button{
    width: 10%;
    /* position: absolute; */
    /* top: -26.9rem; */
}

.title{
    padding-left: 1rem;
}
.wrapper{
    margin: 0 auto;
    max-width: 60rem;
    font-family: Fira code, monospace;
    border: solid 0.3rem var(--accent-color);
}

.content > h2{
    text-decoration: underline solid var(--accent-color);
    text-underline-offset: 0.5rem;
}

.content{
    padding: 0 0 0 2rem;
}